<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>svgtest</title>
        <link rel="stylesheet" href="main.svgtest.css">
    </head>
    <body>
        svg sprite demo
        <svg style='width:200px;height:200px;'>
          <use xlink:href='/svg/svg-sprite.svg#icon-beauty' />
        </svg>
        <svg style='width:200px;height:200px;'>
          <use xlink:href='/svg/svg-sprite.svg#icon-bottle' />
        </svg>
        <script src="main.svgtest.js" charset="utf-8"></script>
    </body>
</html>
